<div class="modal" [hidden]="!isModalExpand">
  <form (submit)="onCreation($event.preventDefault())" ngNativeValidate>
    <div>
      <input
        type="text"
        placeholder="title"
        [(ngModel)]="newTask.title"
        [ngModelOptions]="{ standalone: true }"
        required
        maxlength="25"
      />
    </div>
    <div>
      <input
        type="text"
        placeholder="text"
        [(ngModel)]="newTask.text"
        [ngModelOptions]="{ standalone: true }"
        required
        maxlength="1024"
      />
    </div>
    <div style="display: flex">
      <input type="submit" value="create" style="margin: 12px auto 0" />
    </div>
  </form>
</div>
<div class="operations">
  <button (click)="onCreate()">Add new Task</button>
  <p>* to edit a task, double-click on the text</p>
</div>
<hr />
<div class="panel">
  @for (item of (tasks$ | async); track item.id) {
  <app-task [task]="item" (taskDeleted)="onTaskDeleted($event)"></app-task>
  }
</div>
